:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

body {
  background: #f5f5f5;
  color: #171717;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
