:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background: #f5f5f5;
  color: #171717;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* 버튼 기본 스타일 리셋이 필요할 수 있음 */
button {
  font-family: inherit;
}
